*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #272052;
    color: white;
    text-align: center;
}

h1{
    font-size: 5rem;
    font-weight: 500;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}